<h1>Edit book "{{found.title}}"</h1>
<div class="container">
    <form action="?_method=PUT" method="POST" name="">
        <div class="row">

            <div class="three columns">
                <label for="title">Title</label>
                <input id="title" name="title" value="{{found.title}}" required type="text">
            </div>
            <div class="three columns">
                <label for="author">Author</label>
                <input id="author" type="text" name="author" value="{{found.author}}">
            </div>
            <div class="three columns">
                <label for="pages">Number of pages</label>
                <input id="pages" min="0" type="number" value="{{found.pages}}" name="pages">
            </div>
            <div class="three columns">
                <label for="status">Status </label>
                <select id="status" name="status" value="{{found.status}}">
                    <option {{selected found.status "read"}} value="read">Read</option>
                    <option {{selected found.status "notRead"}} value="notRead">Not Read</option>
                </select>

            </div>
        </div>
        <input class="button-primary" id="addBook" type="submit" value="save">
    </form>
</div>